// colors
// @see: https://tailwindcss.com/docs/customizing-colors

// Gray 灰色 =grey
$gray-1: #F7FAFC;
$gray-2: #EDF2F7;
$gray-3: #E2E8F0;
$gray-4: #CBD5E0;
$gray-5: #A0AEC0;
$gray-6: #718096;
$gray-7: #4A5568;
$gray-8: #2D3748;
$gray-9: #1A202C;

$grey-1: #F7FAFC;
$grey-2: #EDF2F7;
$grey-3: #E2E8F0;
$grey-4: #CBD5E0;
$grey-5: #A0AEC0;
$grey-6: #718096;
$grey-7: #4A5568;
$grey-8: #2D3748;
$grey-9: #1A202C;

// Red 红色
$red-1: #FFF5F5;
$red-2: #FED7D7;
$red-3: #FEB2B2;
$red-4: #FC8181;
$red-5: #F56565;
$red-6: #E53E3E;
$red-7: #C53030;
$red-8: #9B2C2C;
$red-9: #742A2A;

// Orange 橘黄色
$orange-1: #FFFAF0;
$orange-2: #FEEBC8;
$orange-3: #FBD38D;
$orange-4: #F6AD55;
$orange-5: #ED8936;
$orange-6: #DD6B20;
$orange-7: #C05621;
$orange-8: #9C4221;
$orange-9: #7B341E;

// Yellow 黄色
$yellow-1: #FFFFF0;
$yellow-2: #FEFCBF;
$yellow-3: #FAF089;
$yellow-4: #F6E05E;
$yellow-5: #ECC94B;
$yellow-6: #D69E2E;
$yellow-7: #B7791F;
$yellow-8: #975A16;
$yellow-9: #744210;

// Green 绿色
$green-1: #F0FFF4;
$green-2: #C6F6D5;
$green-3: #9AE6B4;
$green-4: #68D391;
$green-5: #48BB78;
$green-6: #38A169;
$green-7: #2F855A;
$green-8: #276749;
$green-9: #22543D;

// Teal, Cyan 蓝绿色
$teal-1: #E6FFFA;
$teal-2: #B2F5EA;
$teal-3: #81E6D9;
$teal-4: #4FD1C5;
$teal-5: #38B2AC;
$teal-6: #319795;
$teal-7: #2C7A7B;
$teal-8: #285E61;
$teal-9: #234E52;

$cyan-1: #E6FFFA;
$cyan-2: #B2F5EA;
$cyan-3: #81E6D9;
$cyan-4: #4FD1C5;
$cyan-5: #38B2AC;
$cyan-6: #319795;
$cyan-7: #2C7A7B;
$cyan-8: #285E61;
$cyan-9: #234E52;

// Blue 蓝色
$blue-1: #EBF8FF;
$blue-2: #BEE3F8;
$blue-3: #90CDF4;
$blue-4: #63B3ED;
$blue-5: #4299E1;
$blue-6: #3182CE;
$blue-7: #2B6CB0;
$blue-8: #2C5282;
$blue-9: #2A4365;

// Indigo 靛蓝
$indigo-1: #EBF4FF;
$indigo-2: #C3DAFE;
$indigo-3: #A3BFFA;
$indigo-4: #7F9CF5;
$indigo-5: #667EEA;
$indigo-6: #5A67D8;
$indigo-7: #4C51BF;
$indigo-8: #434190;
$indigo-9: #3C366B;

// Purple 紫色
$purple-1: #FAF5FF;
$purple-2: #E9D8FD;
$purple-3: #D6BCFA;
$purple-4: #B794F4;
$purple-5: #9F7AEA;
$purple-6: #805AD5;
$purple-7: #6B46C1;
$purple-8: #553C9A;
$purple-9: #44337A;

// Pink 粉红
$pink-1: #FFF5F7;
$pink-2: #FED7E2;
$pink-3: #FBB6CE;
$pink-4: #F687B3;
$pink-5: #ED64A6;
$pink-6: #D53F8C;
$pink-7: #B83280;
$pink-8: #97266D;
$pink-9: #702459;