// variables

$version: "0.0.1";

$media: 100%;
$media-sm: 640px;
$media-md: 768px;
$media-lg: 960px;
$media-xl: 1140px;

$radius: 4px;
$radius-sm: 2px;
$radius-lg: 6px;

$layout-spacing: 0.6rem !default;
$layout-spacing-sm: 0.4rem !default;

// Font sizes
$html-font-size: 20px !default;
$html-line-height: 1.5 !default;

$font-size: .8rem !default;
$font-size-sm: .7rem !default;
$font-size-lg: .9rem !default;

$line-height: 1.2rem !default;

// Unit sizes
$unit-o: .05rem !default;
$unit-h: .1rem !default;
$unit-1: .2rem !default;
$unit-2: .4rem !default;
$unit-3: .6rem !default;
$unit-4: .8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.4rem !default;
$unit-16: 3.2rem !default;

$border-radius: $unit-h !default;
$border-width: $unit-o !default;

$layout-spacing: $unit-2 !default;
$layout-spacing-sm: $unit-1 !default;
$layout-spacing-lg: $unit-4 !default;