// variables

$version: "0.0.1";

$media: 100%;
$media-sm: 640px;
$media-md: 768px;
$media-lg: 960px;
$media-xl: 1140px;

$radius: 4px;
$radius-sm: 2px;
$radius-lg: 6px;

$layout-spacing: 0.6rem !default;
$layout-spacing-sm: 0.4rem !default;

// Font sizes
$html-font-size: 20px !default;
$html-line-height: 1.5 !default;

$font-size: .8rem !default;
$font-size-sm: .7rem !default;
$font-size-lg: .9rem !default;

$line-height: 1.2rem !default;
